In [10]:
import pandas as pd

In [86]:
# Loading data
messages = pd.read_csv('message_read.csv')

In [17]:
messages.head()

,message_read_id,user_id,watermark,timestamp,datetime_created
0,2436731,42966,1510041364408,1510041390566,2017-11-07 07:56:31.239347
1,2436734,19771,1510041390166,1510041391151,2017-11-07 07:56:31.388501
2,2436745,31285,1510041390519,1510041391861,2017-11-07 07:56:32.102914
3,2436749,12478,1510040633529,1510041391934,2017-11-07 07:56:32.187304
4,2436758,8034,1510041390507,1510041392480,2017-11-07 07:56:32.699831

In [87]:
new_messages = messages.copy() 
#new_messages.timestamp = pd.to_datetime(new_messages.timestamp, unit='ms')
#new_messages.watermark = pd.to_datetime(new_messages.watermark, unit='ms')
#new_messages.datetime_created = pd.to_datetime(new_messages.datetime_created)
new_messages.head()

,message_read_id,user_id,watermark,timestamp,datetime_created
0,2436731,42966,1510041364408,1510041390566,2017-11-07 07:56:31.239347
1,2436734,19771,1510041390166,1510041391151,2017-11-07 07:56:31.388501
2,2436745,31285,1510041390519,1510041391861,2017-11-07 07:56:32.102914
3,2436749,12478,1510040633529,1510041391934,2017-11-07 07:56:32.187304
4,2436758,8034,1510041390507,1510041392480,2017-11-07 07:56:32.699831

In [88]:
# Sample user
new_messages = new_messages[new_messages.user_id == 42966]

In [90]:
new_messages['sub'] = (new_messages.timestamp - new_messages.watermark)
new_messages['day'] = pd.to_datetime(new_messages.watermark, unit='ms').dt.date
# new_messages.watermark = new_messages.watermark.map(lambda x: x.replace(second=0))

In [116]:
new_messages.groupby(['day', 'sub']).min().head()

                message_read_id  user_id      watermark      timestamp  \
day        sub
2017-11-07 378          2437849    42966  1510041461968  1510041462346
           422          2435618    42966  1510041325336  1510041325758
           739          2437551    42966  1510041440818  1510041441557
           813          2436273    42966  1510041364408  1510041365221
           864          2437561    42966  1510041441830  1510041442694

                          datetime_created
day        sub
2017-11-07 378  2017-11-07 07:57:42.572635
           422  2017-11-07 07:55:25.988506
           739  2017-11-07 07:57:21.771211
           813  2017-11-07 07:56:05.521046
           864  2017-11-07 07:57:22.940356

In [127]:
new_messages.groupby(['day']).groups.keys()

dict_keys([datetime.date(2017, 11, 7), datetime.date(2017, 11, 8), datetime.date(2017, 11, 10), datetime.date(2017, 11, 11), datetime.date(2017, 11, 13), datetime.date(2017, 11, 14), datetime.date(2017, 11, 15), datetime.date(2017, 11, 16), datetime.date(2017, 11, 17), datetime.date(2017, 11, 18)])

In [ ]:
new_messages.dt = new_messages.watermark

In [133]:
new_messages.groupby(['day'])['sub'].min().median()

1260.5

In [134]:
messages = pd.read_csv('message_read.csv')

In [137]:
# Filtering our user
messages = messages[messages.user_id == 42966]
# Get difference between message timestamp and watermark
messages['sub'] = (messages.timestamp - messages.watermark)
# Get day for each message read
messages['weekday'] = pd.to_datetime(messages.watermark, unit='ms').dt.weekday
messages['day'] = pd.to_datetime(messages.watermark, unit='ms').dt.date
messages.head(20)

,message_read_id,user_id,watermark,timestamp,datetime_created,sub,weekday,day
0,2436731,42966,1510041364408,1510041390566,2017-11-07 07:56:31.239347,26158,1,2017-11-07
16,2436821,42966,1510041394531,1510041395688,2017-11-07 07:56:35.906531,1157,1,2017-11-07
285,2437561,42966,1510041441830,1510041442694,2017-11-07 07:57:22.940356,864,1,2017-11-07
460,2437876,42966,1510041462538,1510041464037,2017-11-07 07:57:44.276808,1499,1,2017-11-07
521,2438164,42966,1510041481083,1510041482518,2017-11-07 07:58:02.7331,1435,1,2017-11-07
614,2438144,42966,1510041480244,1510041481440,2017-11-07 07:58:01.680759,1196,1,2017-11-07
824,2437551,42966,1510041440818,1510041441557,2017-11-07 07:57:21.771211,739,1,2017-11-07
857,2437849,42966,1510041461968,1510041462346,2017-11-07 07:57:42.572635,378,1,2017-11-07
1038,2438687,42966,1510041515207,1510041516347,2017-11-07 07:58:36.572851,1140,1,2017-11-07
1129,2438447,42966,1510041500029,1510041501260,2017-11-07 07:58:21.526404,1231,1,2017-11-07
1174,2438709,42966,1510041516095,1510041517544,2017-11-07 07:58:37.762131,1449,1,2017-11-07
1500,2438431,42966,1510041499350,1510041500428,2017-11-07 07:58:20.642567,1078,1,2017-11-07
1592,2438932,42966,1510041532429,1510041533669,2017-11-07 07:58:53.895695,1240,1,2017-11-07
1827,2439189,42966,1510041551148,1510041552078,2017-11-07 07:59:12.309675,930,1,2017-11-07
1941,2439181,42966,1510041550187,1510041551358,2017-11-07 07:59:11.594361,1171,1,2017-11-07
2018,2439536,42966,1510041574492,1510041575810,2017-11-07 07:59:36.074666,1318,1,2017-11-07
2227,2439555,42966,1510041575534,1510041576756,2017-11-07 07:59:36.980348,1222,1,2017-11-07
106302,2544332,42966,1510126688087,1510127739907,2017-11-08 07:55:40.125586,1051820,2,2017-11-08
106692,2544434,42966,1510127748143,1510127749859,2017-11-08 07:55:50.075137,1716,2,2017-11-08
250181,2688528,42966,1510292186635,1510294599941,2017-11-10 06:16:40.185696,2413306,4,2017-11-10

In [138]:
import pandas as pd

# This should return the timestamp of next push notification
# Input: 
#     messages_file: messages_read.csv file
#     int: user_id
# Output:
#     int: timestamp of next push notification
def optimal_push(user_id, messages_file='messages_read.csv'):
    # Filtering our user
    messages = pd.read_csv(f'{messages_file}')
    messages = messages[messages.user_id == user_id]
    # Get difference between message timestamp and watermark
    new_messages['sub'] = (new_messages.timestamp - new_messages.watermark)
    # Get day for each message read
    new_messages['day'] = pd.to_datetime(new_messages.watermark, unit='ms').dt.date
    # Get minimum time between last message read and new message read, to retrieve 
    new_messages.groupby(['day', 'sub']).min().head()
    # For each day of the week, get HH:MM slot where activity is highest by using minimum time
    # Send push notification *per day of week* according to this push notification

SyntaxError: non-default argument follows default argument (<ipython-input-138-ac2b41164529>, line 9)